/* <-------Applikationens inställningar---------->*/
html { 
  background: url(pics/background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
    font: 15px "tahoma", "verdana", "sans-serif";
    text-align: center;
    color: white;
    padding: 10px;
}

.border {
    width: 70px;
    height: 70px;
    margin-top: 30px;
    margin-left: 20px;
}

span {
    color: #FFF;
    font-weight:bold;
}

a {
     text-decoration: none;
}

#galleryimg,
#rssimg,
#gameimg {
    width: 64px;
    height: 64px;
}

#galleryimg:hover,
#rssimg:hover,
#gameimg:hover {
    -ms-transform:scale(1.2); 
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2); 
    -o-transform:scale(1.2); 
    transform:scale(1.2);
}

/*<------------Fönstrets inställningar------------->*/
.newwindow {
    position: absolute;
    z-index: 1;
    border-radius: 7px 7px 4px 4px;
    box-shadow: 0 0 5px black;
}

.nwtitlebar {
    background: #2F2F30;
    border-radius: 7px 7px 0 0;
    padding: 6px 5px 0 5px;
    height: 50px;
}

.nwtitlename {
    color: #FFF;
    font-family: "tahoma", "verdana", "sans-serif";
    font-size: 13px;
    font-weight:bold;
}

.titleicon {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
    background-size: 100% 100%;
    
}

#closebutton {
    width: 15px;
    height: 15px;
    float: right;
    margin-top: 6px;
    margin-right: 6px;
}

.nwcontent {
    background: #CCC;
    padding: 5px;
    min-height: 300px;
    max-height: 550px;
    width: auto;
    overflow: auto;
}

.nwfooter {
    background: #2F2F30;
    color: #FFF;
    border-radius: 0 0 7px 7px;
    height: 20px;
    padding: 5px;
    padding-bottom: 0;
    overflow: hidden;
}

.thumbdiv {
    display: inline-block;
    margin: 7px;
    padding: 7px;
    text-align: center;
    border: solid 1px #EEE;  
    background: -webkit-gradient(linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(134,135,140)),
	    color-stop(0.41, rgb(217,217,217)),
	    color-stop(1, rgb(134,135,140))
	);
	background: -webkit-linear-gradient(
	    center bottom,
	    color-stop(0, rgb(134,135,140)),
	    color-stop(0.41, rgb(217,217,217)),
	    color-stop(1, rgb(134,135,140))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(134,135,140) 0%,
	    rgb(217,217,217) 41%,
	    rgb(134,135,140) 100%
	);
	background: -o-linear-gradient(
	    center bottom,
	    rgb(134,135,140) 0%,
	    rgb(217,217,217) 41%,
	    rgb(134,135,140) 100%
	);
	-moz-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;
    box-shadow: rgba(0,0,0, 0.3) 0 0 8px; 
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
}

#ajaxloader {
	display: none;
}

.rssFeed p, 
.rssFeed a {
    font: 10px "verdana", "arial", "sans-serif";
}

.rss_title {
    font: 15px "verdana", "arial", "sans-serif";
    font-weight: 600;
    padding: 5px;
    background:#2F2F30;
    color: #FFF;
}

.singleimg {
    margin: auto;
}
