html { 
  background: url(pics/background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
    font: 15px "tahoma", "verdana", "sans-serif";
    text-align: center;
    color: white;
}

.border {
    width: 70px;
    height: 70px;
    margin-top: 30px;
    margin-left: 20px;
}

span {
    color: #FFF;
    font-weight:bold;
}

a {
     text-decoration: none;
}

img {
    width: 64px;
    height: 64px;
}

a:hover, a:focus {
    -ms-transform:scale(1.2); 
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2); 
    -o-transform:scale(1.2); 
    transform:scale(1.2);
}

#newwindow {
    position: absolute;
    top: 50px;
    left: 260px;
    border-radius: 7px 7px 4px 4px;
    box-shadow: 0 0 5px black;
}

.nwtitlebar {
    background: #2F2F30;
    border-radius: 7px 7px 0 0;
    padding: 6px 5px 0 5px;
    height: 50px;
}

.nwtitlename {
    color: #FFF;
    font-family: "tahoma", "verdana", "sans-serif";
    font-size: 13px;
    font-weight:bold;
}

.titleicon {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
    background-size: 100% 100%;
    
}

#closebutton {
    width: 15px;
    height: 15px;
    float: right;
}

.nwcontent {
    background: #CCC;
    padding: 5px;
    overflow: scroll;
    min-width: 300px;
    min-height: 300px;
}

.nwfooter {
    background: #2F2F30;
    color: #FFF;
    border-radius: 0 0 7px 7px;
    height: 20px;
    padding: 5px;
    padding-bottom: 0;
    overflow-x: hidden;
}