#container {
    width: 600px;
    height: auto;
    margin: auto;
	background: #777;
	padding: 20px;
	overflow: hidden;

	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
    background: -webkit-gradient(radial, 430 50, 0, 430 50, 312, from(#444), to(#000));
    background: -webkit-radial-gradient(center 10% 20deg, circle cover, #444 20%, #000000 50%);
    background: -moz-radial-gradient(center 10% 20deg, circle cover, #444 20%, #000000 50%);
    background: -o-radial-gradient(center 10% 20deg, circle cover, #444 20%, #000000 50%);
}

#textfield {
    width: 500px;
    height: 300px;
    padding-top: 5px;
	margin: 20px auto;
	background: #FFF;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-moz-box-shadow: 0 0 7px 0 #000 inset, 0 0 16px 0 #000;
	-webkit-box-shadow: 0 0 7px 0 #000 inset, 0 0 16px 0 #000;
	box-shadow: 0 0 7px 0 #000 inset, 0 0 16px 0 #000;

	background: -webkit-gradient(linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(255,255,255)),
	    color-stop(0.41, rgb(217,217,217)),
	    color-stop(1, rgb(255,255,255))
	);
	
	background: -webkit-linear-gradient(
	    center bottom,
	    color-stop(0, rgb(255,255,255)),
	    color-stop(0.41, rgb(217,217,217)),
	    color-stop(1, rgb(255,255,255))
	);
	
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(255,255,255) 0%,
	    rgb(217,217,217) 41%,
	    rgb(255,255,255) 100%
	);
	
	background: -o-linear-gradient(
	    center bottom,
	    rgb(255,255,255) 0%,
	    rgb(217,217,217) 41%,
	    rgb(255,255,255) 100%
	);

	-webkit-box-reflect: below 10px
  	-webkit-gradient(linear, left top, left bottom,
    from(transparent), to(rgba(255, 255, 255, 0.2)));
}

label 
{   
    margin-left: 310px;  
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 10px;
}  

textarea 
{   
    width: 400px;  
    height: 190px;
    margin: 0 0 -5px 46px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	-moz-box-shadow:1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
	-webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
	box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 

button 
{  
    width: auto;  
    margin-left: 322px;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11px;
	-moz-box-shadow: 0 0 4px 0 #777;
	-webkit-box-shadow: 0 0 4px 0 #777;
	box-shadow: 0 0 4px 0 #777;
	
	-webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;

	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(237,237,237)),
		color-stop(0.41, rgb(217,217,217)),
		color-stop(1, rgb(255,255,255))
	);
	background: -webkit-linear-gradient( 
	    center bottom,
		rgb(237,237,237) 0%,
		rgb(217,217,217) 41%,
		rgb(255,255,255) 100%
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(237,237,237) 0%,
		rgb(217,217,217) 41%,
		rgb(255,255,255) 100%
	);
	background: -o-linear-gradient(
	    center bottom,
		rgb(237,237,237) 0%,
		rgb(217,217,217) 41%,
		rgb(255,255,255) 100%
	);
}

button:hover, button:focus
textarea:hover, textarea:focus {
    background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(232,114,198)),
	    color-stop(0.41, rgb(230,71,185)),
	    color-stop(1, rgb(235,176,218))
	);
	background: -webkit-linear-gradient(
	    center bottom,
	    rgb(232,114,198) 0%,
	    rgb(230,71,185) 41%,
	    rgb(235,176,218) 100%
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(232,114,198) 0%,
	    rgb(230,71,185) 41%,
	    rgb(235,176,218) 100%
	);
	background: -o-linear-gradient(
	    center bottom,
	    rgb(232,114,198) 0%,
	    rgb(230,71,185) 41%,
	    rgb(235,176,218) 100%
	);
}

h1 {
    font-family: "Happy Monkey", "Arial", sans-serif;
    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px 0 rgb(230,71,185);
}

.postmessage {
    width: 500px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 10px;
	margin: 20px auto;
	background: #FFF;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-moz-box-shadow: 0 0 7px 0 #000 inset, 0 0 16px 0 #000;
	-webkit-box-shadow: 0 0 7px 0 #000 inset, 0 0 16px 0 #000;
	box-shadow: 0 0 7px 0 #000 inset, 0 0 16px 0 #000;

	background: -webkit-gradient(linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(255,255,255)),
	    color-stop(0.41, rgb(217,217,217)),
	    color-stop(1, rgb(255,255,255))
	);
	
	background: -webkit-linear-gradient(
	    center bottom,
	    color-stop(0, rgb(255,255,255)),
	    color-stop(0.41, rgb(217,217,217)),
	    color-stop(1, rgb(255,255,255))
	);
	
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(255,255,255) 0%,
	    rgb(217,217,217) 41%,
	    rgb(255,255,255) 100%
	);
	
	background: -o-linear-gradient(
	    center bottom,
	    rgb(255,255,255) 0%,
	    rgb(217,217,217) 41%,
	    rgb(255,255,255) 100%
	);

	-webkit-box-reflect: below 10px
  	-webkit-gradient(linear, left top, left bottom,
    from(transparent), to(rgba(255, 255, 255, 0.2)));
}

.input {
    width: 400px;  
    height: auto;
    margin: 20px 50px 10px 50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	-moz-box-shadow:1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
	-webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
	box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    /*-webkit-background-clip: padding-box;*/
} 

.icons {
    margin-left: 455px;
}

.deletebutton {
    margin-top: 5px;
}

.datetime {
    margin-top: 5px;
    padding-right: 2px;
}

.time {
    margin-bottom: -4px;
    margin-left: 445px;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 8px;
}
