body {
    background: url("../pics/Winter_Background.jpg");
    background-size: 100%;
}

#container {
    width: 400px;
    margin: auto;
    text-align: center;
    background: #FFF;
    -moz-box-shadow: 0 0 5px 10px rgba(25,25,25,0.3);
    -webkit-box-shadow: 0 0 5px 10px rgba(25,25,25,0.3);
    box-shadow: 0 0 5px 10px rgba(25,25,25,0.3);
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
}

header {
    margin-top: 120px;
}

h1 {
    font-family: "Happy Monkey", "Arial", sans-serif;
    font-size: 50px;
    color: #BBB;
    text-shadow: 2px 2px 0 rgb(230,71,185);
}

table {
    border-collapse:collapse;
    margin: 30px 70px 70px 70px;
}

tr, td {
    border: none;
    padding: 20px;
}

img:hover, a:hover, a:focus {
    -ms-transform:scale(1.2); 
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2); 
    -o-transform:scale(1.2); 
    transform:scale(1.2);
}

