#container {
    width: 960px;
    margin: auto;
    text-align: center;
}

table
{
border-collapse:collapse;
margin-left: 395px;
}

table, tr, td {
    border: none;
    padding: 10px;
}


h1 {
    font-family: "Happy Monkey", "Arial", sans-serif;
    color: #000;
    text-shadow: 2px 2px 0 rgb(230,71,185);
}

img:hover {
    -ms-transform:scale(1.2); 
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2); 
    -o-transform:scale(1.2); 
    transform:scale(1.2);
}